label.slidebox,
label.slidebox span {
	display: block;
	width: 93px;
	height: 27px;
	margin-bottom: 20px;
	background: url(images/slidebox.png) left bottom no-repeat;
	cursor: pointer;
	text-indent: -5000px;
}
label.slidebox.onoff {
	background-position: right bottom;
}
label.slidebox span {
	background-position: left top;
	margin: 0;
}

